<div>
    <div class="text-center m-2 p-2">
        <h2 class="text-muted">Example for Event Bindling</h2>
        <hr>
    </div>
  <div class="d-flex justify-content-center shadow-sm p-3 mb-5 bg-body rounded">
    <div class="d-flex flex-column">
      <div class="p-2">
        <input
          type="text"
          (input)="handleName($event)"
          placeholder="Write your name"
          class="rounded my-2"
        />
      </div>
      <div class="p-2">
        <input
          type="text"
          [(ngModel)]="gender"
          placeholder="Gender"
          class="rounded my-2"
        />
      </div>
      <div class="p-2">
        <input
          type="text"
          [(ngModel)]="profession"
          placeholder="Profession"
          class="rounded my-2"
        />
      </div>
      <div class="p-2">
        <input
          type="text"
          [(ngModel)]="address"
          placeholder="Address"
          class="rounded my-2"
        />
      </div>
    </div>
  </div>
  <hr />
  <div
    class="d-flex justify-content-center shadow-none p-3 mb-5 bg-light rounded"
  >
    <div class="d-flex flex-column">
        <button (click)="isShowing = !isShowing" class="btn btn-lg btn-warning">
            <ng-container *ngIf="!isShowing">Click to Show Your Information</ng-container>
            <ng-container *ngIf="isShowing">Click to Hide Your Information</ng-container>
        </button>
        <hr>
        <ng-container *ngIf="isShowing">
            <h3 class="text-muted p-3">Your Name : {{ name }}</h3>
            <h3 class="text-muted p-3">Gender : {{ gender }}</h3>
            <h3 class="text-muted p-3">Profession : {{ profession }}</h3>
            <h3 class="text-muted p-3">Address : {{ address }}</h3>
        </ng-container>
    </div>
  </div>
</div>
