<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/component1">Component 1</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLinkActive="active" routerLink="/dashboard//component2">Component 2</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/dashboard//component3">Component 3</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/dashboard//component4">Component 4</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/dashboard//component5">Component 5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/dashboard//component6">Component 6</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
