<div class="container-fluid">
    <div class="row">
      <div class="col-2 collapse d-md-flex bg-light pt-2 min-vh-100" id="sidebar">
        <ul class="nav flex-column flex-nowrap">
          <li class="nav-item"><a class="nav-link"  routerLinkActive="active" routerLink="/overview" >Overview</a></li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Reports</a>
            <div class="collapse" id="submenu1" aria-expanded="false">
              <ul class="flex-column pl-2 nav">
                <li class="nav-item"><a class="nav-link py-0" href="#">Orders</a></li>
                <li class="nav-item">
                  <a class="nav-link collapsed py-1" href="#submenu1sub1" data-toggle="collapse" data-target="#submenu1sub1">Customers</a>
                  <div class="collapse" id="submenu1sub1" aria-expanded="false">
                    <ul class="flex-column nav pl-4">
                      <li class="nav-item">
                        <a class="nav-link p-1" href="#">
                          <i class="fa fa-fw fa-clock-o"></i> Daily
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link p-1" href="#">
                          <i class="fa fa-fw fa-dashboard"></i> Dashboard
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link p-1" href="#">
                          <i class="fa fa-fw fa-bar-chart"></i> Charts
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link p-1" href="#">
                          <i class="fa fa-fw fa-compass"></i> Areas
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">Analytics</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Export</a></li>
        </ul>
      </div>
      <div class="col pt-2">
        <h2>
          <router-outlet></router-outlet>
        </h2>
      </div>
    </div>
  </div>
  