<div class="container">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Modal 1 title</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <h3>Modal 1 body</h3>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close('Save click')"
      >
        Save
      </button>
    </div>
  </ng-template>

  <div class="p-5">
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
      Launch demo modal 1
    </button>
  </div>

  <hr />

  <pre>{{ closeResult }}</pre>
</div>
