<ul class="nav flex-column flex-nowrap">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="#"
        >Overview</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#submenu1"
        data-toggle="collapse"
        data-target="#submenu1"
        routerLinkActive="active"
        routerLink="#"
        >Reports</a
      >
      <div class="collapse" id="submenu1" aria-expanded="false">
        <ul class="flex-column pl-2 nav">
          <li class="nav-item">
            <a
              class="nav-link py-0"
              routerLinkActive="active"
              routerLink="#"
              >Orders</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link collapsed py-1"
              routerLinkActive="active"
              routerLink="#"
              data-target="#submenu1sub1"
              >Customers</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="#"
        >Analytics</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="#"
        >Export</a
      >
    </li>
  </ul>