<form #myForm="ngForm" (ngSubmit)="submit()">
  <div class="form-group mt-3">
    <h2>Add Card</h2>
    <hr />
  </div>
  <div class="row">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="cardForm.title"
        #title="ngModel"
        name="title"
        placeholder="Place Card Title"
        required
        minlength="10"
        maxlength="12"
      />
    </div>
    <div
      *ngIf="(title.invalid || title.dirty || title.touched)  && !isValidTitle"
      class="p-2 text-warning rounded"
    >
      Card title is required and length must be 10 to 12 characters!
    </div>
    <div class="mb-3">
      <label for="subtitle" class="form-label">Subtitle</label>
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="cardForm.subtitle"
        #title="ngModel"
        name="subtitle"
        placeholder="Place Card Subtitle"
        required
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        [(ngModel)]="cardForm.description"
        #description="ngModel"
        placeholder="Place card description"
        minlength="50"
        maxlength="1000"
        required
      >
      </textarea>
    </div>
    <div
      *ngIf="(description.invalid || description.dirty || description.touched) && !isValidDescription"
      class="p-2 text-warning rounded"
    >
      Card description is required and length must be 50 to 1000 character!
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input
        type="file"
        class="form-control"
        #image
        id="image"
        (change)="onFileChange($event)"
        required
      />
    </div>
    <div *ngIf="!isValidImage" class="p-2 text-warning rounded">
      {{ imageValidationMessage }}
    </div>
  </div>
  <div class="my-2">
    <button
      type="submit"
      class="btn btn-success btn-lg"
      >Submit</button>
  </div>
</form>
<hr />
<div>
  <h2>Your Cards :</h2>
</div>
<ng-container *ngIf="cards.length != 0">
  <div class="row">
    <div
      class="card col-3 p-2 m-2"
      style="width: 18rem"
      *ngFor="let card of cards"
    >
    <img class="card-img-top" [src]="card.image" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{card.title}}</h5>
      <p>{{card.subtitle}}</p>
      <p class="card-text">{{card.description}}</p>
    </div>
    </div>
  </div>
</ng-container>
