<form #form="ngForm" (ngSubmit)="submit()">
  <div class="form-group m-3">
    <h2>Add Card</h2>
    <hr />
  </div>
  <div class="row">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="cardForm.title"
        name ="title"
        placeholder="Title"
        required
      />
    </div>
    <div class="mb-3">
      <label for="body" class="form-label">body</label>
      <textarea
        class="form-control"
        id="body"
        [(ngModel)]="cardForm.body"
        name ="body"
        placeholder="Body"
        required
      >
      </textarea>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input
        type="file"
        class="form-control"
        id="image"
        (change)="onFileChange($event)"
        name ="image"
        required
      />
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr />

<ng-container *ngIf="cards.length != 0">
  <div class="row">
    <div
      class="card col-3 p-2 m-2"
      style="width: 18rem"
      *ngFor="let card of cards"
    >
      <img class="card-img-top" src="{{ card.image }}" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">{{ card.title }}</h5>
        <p class="card-text">{{ card.body }}</p>
      </div>
    </div>
  </div>
</ng-container>
